<%- include('../partials/header') %>



<div class="container">
  <div id="search-row" class="row">
    <h2 class="">ballers</h2>
    <form action="/ballers" method="GET">
      <div class="col s3 offset-s3">
        <!-- search -->
        <div class="input-field">
          <input id="search" type="search" name="name" placeholder="search name" value="<%= name %>" autocomplete="off">

        </div>
      </div>
      <div class="col s2">
        <p>
          <label for="sort-name">
            <input name="sort" type="radio" id="sort-name" value="name" class="with-gap"
              <%= sortKey === 'name' ? 'checked' : '' %>>
            <span>Sort by Name</span>
          </label>
        </p>
      </div>
    </form>
  </div>
  <div class="info">
    <div id="ballers" class="col s12">
      <% ballers.forEach(function(baller) { %>
      <div class="comments">

        <div class="commenthead">

          <img class="avatar" src="<%= baller.avatar %>">
          <a href="/ballers/<%= baller._id %>">
            <span class="baller-name"><%= baller.name %></span></a>
          <% if (baller.team) { %><span class="baller-team">
            TEAM:<%= baller.team %></span><% } %>


        </div>
        <div id = "id"class="ul-div">
          <ul class="">
            <% baller.comments.forEach(function(comment) { %>
            <div class="user-comment-head">
              <div>
                <img class="small-avatar" src="<%= comment.avatar %>">

              </div>
              <div class="user-comment-head-text">
                <a href="/ballers/<%= comment.ballerId %>"><%-comment.name %></a>
                <% if (user) { %>
                <% if ((baller._id.equals(user && user._id)) || (comment.ballerId.toString() == user._id.toString())) { %>
                <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST" class="secondary-content">
                  <button type="submit" class="btn-small red-text">X</button>
                </form>
                <% } %>
                <% } else { %>

                <% } %>
              </div>
            </div>
            <li class=""><%- comment.text %>

            </li>

            <% }) %>
          </ul>
        </div>


        <% if (user) { %>
        <div class="addcomm">
          <form action="/comments/<%= baller._id%>" method="POST">
            <input type="text" name="text" class="input-comment-box">

            <button type="submit" class="btn-comment">Add Comment</button>
          </form>
        </div>
        <% } else { %>

        <a href="/auth/google" class="login-to-comment"><i class="material-icons left">vpn_key</i>Login with Google to
          Comment</a>

        <% } %>
      </div>
      <% }) %>
    </div>
  </div>
</div>



<%- include('../partials/footer') %>

