<%- include('../partials/header') %>

  <div class="container">
    <div id="search-row" class="row">
      <h2 class="">ballers</h2>
      <form action="/ballers" method="GET">
        <div class="col s3 offset-s3">
          <!-- search -->
          <div class="input-field">
            <input id="search" type="search" name="name" placeholder="search name" value="<%= name %>" autocomplete="off">
           
          </div>
        </div>
        <div class="col s2">
          <p>
            <label for="sort-name">
              <input name="sort" type="radio" id="sort-name" value="name" class="with-gap"
                <%= sortKey === 'name' ? 'checked' : '' %> >
              <span>Sort by Name</span>
            </label>
          </p>
        </div>
      </form>
    </div>
    <div class="info">
      <div id="ballers" class="col s12">
        <% ballers.forEach(function(baller) { %>
          <div class="comments">
            
              <div class="commenthead">
                
                <img class="avatar" src="<%= baller.avatar %>">
                <a href="/ballers/<%= baller._id %>">
                <span class="baller-name"><%= baller.name %></span></a>
                  <% if (baller.team) { %><span class="badge white"> 
                    TEAM:<%= baller.team %></span><% } %>
                
                
              </div>
              <ul class="collection">
                <% baller.comments.forEach(function(comment) { %>
                  <img class ="small-avatar" src="<%= comment.avatar %>">
                  <a href="/ballers/<%= comment.ballerId %>">
                  <%-comment.name %></a>
                  <li class=""><%- comment.text %>
                   
                  
                  </li>
                <% }) %>
              </ul>
              <% if (user) { %>
                <div class="card-action">
                  <form action="/<%= baller._id%>/comments" method="POST">
                    <input type="text" name="text" class="white-text">
                    
                    <button type="submit" class="btn white-text">Add Comment</button>
                  </form>
                </div>
              <% } %>
            
          </div>
        <% }) %>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>