<%- include('../partials/header') %>

<div class="profile">
  <div class="profile-header">
    <img class="avatar" src="<%= baller.avatar %>">
    <h1><%= baller.name %> </h1>
  </div>
  <div>
    <h3> Team: <%= baller.team %> </h3>
    <h3> Runs: <%= baller.runs %> </h3>
    <h3> Hometown: <%= baller.hometown %> </h3>
    <h3> Fun Facts: <%= baller.funFacts %> </h3>
    <h3> Favorite Drink: <%= baller.favDrink %> </h3>
    <% if (user) { %>
    <% if (baller._id.equals(user && user._id)) { %>
    <a href="/ballers/<%= baller._id %>/edit">Update Profile</a>
    <% } else { %>
    <% } %>
    <% } %>
  </div>

  <div class="profile-comments">
    <h1 class="profile-comments-header">COMMENTS</h1>
    <ul class="k">
      <% baller.comments.forEach(function(comment) { %>
      <div class='user-comment-head'>
        <img class="small-avatar" src="<%= comment.avatar %>">
        <a href="/ballers/<%= comment.ballerId %>">
          <%-comment.name %></a>
      </div>
      <li class=""><%- comment.text %>
        <% if (user) { %>
        <% if ((baller._id.equals(user && user._id)) || (comment.ballerId.toString() == user._id.toString())) { %>
        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST" class="secondary-content">
          <button type="submit" class="btn-small red-text">X</button>
        </form>
        <% } %>
        <% } else { %>

        <% } %>
      </li>

      <% }) %>
    </ul>
    <% if (user) { %>
    <div class="addcomm">
      <form action="/comments/<%= baller._id%>" method="POST">
        <input type="text" name="text" class="white-text">

        <button type="submit" class="btn-comment">Add Comment</button>
      </form>
    </div>
    <% } else { %>
    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google to Comment</a>
    <% } %>
  </div>

</div>





<%- include('../partials/footer') %>