<%- include('../partials/header') %>


  <img class="avatar" src="<%= baller.avatar %>">
  
  <h3> Name: <%= baller.name %> </h3>
  <h3> Team: <%= baller.team %> </h3>
  <h3> Comments: <%= baller.comments%> </h3>






<%- include('../partials/footer') %>